new/src/main/app/new.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:mulerequester="http://www.mulesoft.org/schema/mule/mulerequester"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/mulerequester http://www.mulesoft.org/schema/mule/mulerequester/current/mule-mulerequester.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<file:endpoint path="src/main/resources/Publish"
		moveToDirectory="src/main/resources/Acquisition" name="file1"
		responseTimeout="10000" doc:name="File" connector-ref="File1">
		<file:filename-regex-filter
			pattern="CUSTOMERS_20190524.txt , CUSTOMER_ADDRESSES_20190524.txt , CUSTOMER_PHONES_20190524.txt , ACCOUNTS_20190524.txt , CUSTOMER_ACCOUNT_LINK_20190524.txt , ONLINE_USERS_20190524.txt , ONLINE_USER_USER_CUSTOMER LINK_20190524.txt , ONLINE_USER_ACCOUNT_LINK_20190524.txt"
			caseSensitive="true" />
	</file:endpoint>
	<file:connector name="File1" autoDelete="false"
		streaming="false" validateConnections="true" doc:name="File" />
	<file:endpoint path="src/main/resources/bad"
		moveToDirectory="src/main/resources/REDO" connector-ref="File1" name="File"
		responseTimeout="10000" doc:name="File" />
    <mulerequester:config name="Mule_Requester" doc:name="Mule Requester"/>
	<flow name="newFlow">
		<file:inbound-endpoint
			path="C:\Users\p.harish.padhye\AnypointStudio\PROJECT_NEW\new\src\main\resources\Publish"

			moveToDirectory="C:\Users\p.harish.padhye\AnypointStudio\PROJECT_NEW\new\src\main\resources\Acquisition"
			responseTimeout="10000" doc:name="File">
			<file:filename-regex-filter pattern="endofday.txt"
				caseSensitive="true" />
		</file:inbound-endpoint>
		<byte-array-to-string-transformer
			doc:name="Byte Array to String" />
		<set-variable variableName="date" value="#[payload]"
			doc:name="Variable" />
		<choice doc:name="Choice">
			<when expression="#[payload.isEmpty()==false]">
				<mulerequester:request-collection
					resource="file1" doc:name="Mule Requester" config-ref="Mule_Requester"/>
                <set-payload value="#[payload]" doc:name="Set Payload"/>
				<choice doc:name="Choice">
					<when expression="#[payload.size() &gt;= 0]">
						<foreach doc:name="For Each">
							<byte-array-to-string-transformer
								doc:name="Byte Array to String" />
							<choice doc:name="Choice">
								<when expression="#[payload.isEmpty() == true]">
									<file:outbound-endpoint path="src/main/resources/bad"
										outputPattern="#[message.inboundProperties.originalFilename]"
										responseTimeout="10000" doc:name="File" />
									<set-payload
										value="#[message.inboundProperties.originalFilename] *** FAILED ***! File written to bad Folder."
										doc:name="Set Payload" />
									<logger message="#[payload]" level="INFO" doc:name="Logger" />
								</when>
								<otherwise>
									<set-payload
										value="#[message.inboundProperties.originalFilename] Passed."
										doc:name="Set Payload" />
									<logger message="#[payload]" level="INFO" doc:name="Logger" />
								</otherwise>
							</choice>
						</foreach>
						<mulerequester:request-collection
							resource="File" doc:name="Mule Requester" config-ref="Mule_Requester"/>
                        <set-payload value="Files Processed And Sent To Respective Folders!" doc:name="Set Payload"/>
						<logger message="#[payload]" level="INFO" doc:name="Logger" />
					</when>
					<otherwise>
						<set-payload value="***** FILES NOT PRESENT! *****"
							doc:name="Set Payload" />
						<logger message="#[payload]" level="INFO" doc:name="Logger" />
					</otherwise>
				</choice>
			</when>
			<otherwise>
				<set-payload value="End Of Day File Is Empty!" doc:name="Set Payload" />
				<logger message="#[payload]" level="INFO" doc:name="Logger" />
			</otherwise>
		</choice>
	</flow>
	<!-- <flow name="newFlow1" initialState="stopped"> <file:inbound-endpoint 
		path="src/main/resources/bad" moveToDirectory="src/main/resources/REDO" responseTimeout="10000" 
		doc:name="File"/> <logger message="Done!! " level="INFO" doc:name="Logger"/> 
		</flow> -->
</mule>
