poc2/target/classes/poc2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ws="http://www.mulesoft.org/schema/mule/ws"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_Configuration"
		host="localhost" port="8082" doc:name="HTTP Listener Configuration" />
	<ws:consumer-config name="Web_Service_Consumer"
		wsdlLocation="http://mu.mulesoft-training.com/essentials/delta?wsdl"
		service="TicketServiceService" port="TicketServicePort"
		serviceAddress="http://mu.mulesoft-training.com/essentials/delta"
		doc:name="Web Service Consumer" />
	<db:mysql-config name="MySQL_Configuration" host="localhost"
		port="3307" user="root" password="root" database="flights" doc:name="MySQL Configuration" />
	<flow name="poc2Flow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/ws" allowedMethods="GET" doc:name="HTTP" />
		<ws:consumer config-ref="Web_Service_Consumer" operation="listAllFlights"
			doc:name="Web Service Consumer" />
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/java
%namespace ns0 http://soap.training.mulesoft.com/
---
payload.ns0#listAllFlightsResponse.*return map ((return , indexOfReturn) -> {
	airlineName: return.airlineName,
	code: return.code,
	departureDate: return.departureDate,
	destination: return.destination,
	emptySeats: return.emptySeats as :string,
	origin: return.origin,
	planeType: return.planeType,
	price: return.price as :string
})
]]></dw:set-payload>
		</dw:transform-message>
        
        <scatter-gather doc:name="Scatter-Gather">
            <foreach doc:name="For Each" collection="#[payload]">
                <db:insert config-ref="MySQL_Configuration" doc:name="Database">
                    <db:parameterized-query><![CDATA[insert into flightDetails(planeType,price) values(#[payload.planeType],#[payload.price])]]></db:parameterized-query>
                </db:insert>
            </foreach>
            <foreach doc:name="For Each" collection="#[payload]">
            <db:insert config-ref="MySQL_Configuration" doc:name="Database">
                <db:parameterized-query><![CDATA[insert into flight(airlineName,code,departureDate,destination,emptySeats,origin) values (#[payload.airlineName],#[payload.code],#[payload.departureDate],#[payload.destination],#[payload.emptySeats],#[payload.origin])]]></db:parameterized-query>
            </db:insert>
            </foreach>
        </scatter-gather>
        <logger message="Done" level="INFO" doc:name="Logger"/>
         <choice-exception-strategy doc:name="Choice Exception Strategy">
            <catch-exception-strategy when="#[exception.causedBy(org.mule.api.MessagingException)]" doc:name="Catch Exception Strategy">
                <set-payload value="Kuch To Gadbad Hai Daya!" doc:name="Set Payload"/>
                <logger message="#[payload]" level="INFO" doc:name="Logger"/>
            </catch-exception-strategy>
            <catch-exception-strategy doc:name="Catch Exception Strategy">
                <set-payload value="Default" doc:name="Set Payload"/>
            </catch-exception-strategy>
        </choice-exception-strategy>

	</flow>
</mule>
